@{
    var carouselCaption = @" ";
}
<div class="mb-5">
    <div id="exampleCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner rounded-3 shadow">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="~/images/wiktor.jpeg" class="d-block w-100" alt="Wiktor Staniul" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/piotr_1.jpeg" class="d-block w-100" alt="Piotr Staniul" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/jarmark_1.jpeg" class="d-block w-100"
                    alt="Maria i Wiktor Staniul podczas jarmarku" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/wiktor_1.jpeg" class="d-block w-100" alt="Wiktor Staniul" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/wiktor_2.jpeg" class="d-block w-100" alt="Wiktor Staniul" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/wiktor_3.jpeg" class="d-block w-100" alt="Wiktor Staniul" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/miody_1.jpeg" class="d-block w-100" alt="Zestaw miodów" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="~/images/kłodzko_1.jpeg" class="d-block w-100" alt="Kotlina kłodzka" />
                <div class="carousel-caption d-none d-md-block">
                    @Html.Raw(carouselCaption)
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#exampleCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#exampleCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>