@model MiodOdStaniula.Models.Product
<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />

@{
    ViewData["Title"] = @Model.Name;
}

<div class="container">
    <div class="border text-center shadow p-3 mb-5 bg-white rounded">
        <div>
            <div class="row">
                <div class="col-sm-4" style="margin: 5px">
                    <img src="~/img/@Model.Photo" class="w-100" />
                </div>
                <div class="col-sm-3 border" style="margin: 5px; padding: 10px">
                    <h3>@Model.Name</h3>
                    <div class="row">
                        @if (Model.AmountAvailable == 0)
                        {
                            <div>
                                <p>Waga: <b>@Model.Weight g</b></p>
                            </div>
                            <div>
                                <p>Cena: <b>@Model.Price,00 zł</b></p>
                            </div>
                            <div class="row outOfOrder">
                                <div class="col-9">
                                    <h6>Produkt sprzedany</h6>
                                </div>
                                <div class="col-3">
                                    <img src="/img/outOfOrder.png" style="max-width: 40px">
                                </div>
                            </div>
                        }
                        else if (Model.AmountAvailable > 0 & Model.AmountAvailable < 10)
                        {
                            <div>
                                <p>Waga: <b>@Model.Weight g</b></p>
                            </div>
                            <div>
                                <p>Cena: <b>@Model.Price,00 zł</b></p>
                            </div>
                            <div class="row smallAmount">
                                <div class="col-9">
                                    <h6>Na wyczerpaniu</h6>
                                </div>
                                <div class="col-3">
                                    <img src="/img/smallAmount.png" style="max-width: 40px">
                                </div>
                            </div>
                        }
                        else if (Model.AmountAvailable >= 10)
                        {
                            <div>
                                <p>Waga: <b>@Model.Weight g</b></p>
                            </div>
                            <div>
                                <p>Cena: <b>@Model.Price,00 zł</b></p>
                            </div>
                            <div class="row available">
                                <div class="col-9">
                                    <h6>Produkt dostępny</h6>
                                </div>
                                <div class="col-3">
                                    <img src="/img/available.png" style="max-width: 40px">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-sm-4 border" style="margin: 5px; padding: 10px">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>

    </div>
</div>
