@model IEnumerable<MiodOdStaniula.Models.ProductViewModel>
<link rel="stylesheet" href="~/css/ProductDetails.css" asp-append-version="true" />


@foreach (var product in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card">
        <a href="@Url.Action("Details", "Products", new { id = product?.ProductId })" class="bg-image ripple">
            <div id="carouselForProduct@(product?.ProductId)" class="carousel slide carousel-fade w-100"
                data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < product?.ProductImageInfos?.Count; i++)
                        {
                            <button type="button" data-bs-target="#carouselForProduct@(product?.ProductId)"
                                data-bs-slide-to="@i" @(i == 0 ? "class=active aria-current=true" : "")
                                aria-label="Slide @(i + 1)"></button>
                        }
                    </div>
                    <div class="carousel-inner rounded-3 shadow">
                        @for (int i = 0; i < product?.ProductImageInfos?.Count; i++)
                        {
                            var image = product?.ProductImageInfos[i];
                            <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="4000">
                                <img src="@image?.ImagePath" class="d-block w-100" alt="Produkt - zdjęcie @(i+1)" />
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselForProduct@(product?.ProductId)" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselForProduct@(product?.ProductId)" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </a>
            <div class="card-body">
                <div>
                    <h5 class="card-title mb-3">@product?.Name</h5>
                    <p><b>@product?.Category?.Name</b></p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p>Waga: <b>@product?.Weight.ToString("0.##") g</b></p>
                    </div>
                    <div class="col-lg-6">
                        <p>Cena: <b>@product?.Price zł</b></p>
                    </div>
                    @if (product?.AmountAvailable == 0)
                    {
                        <div class="row outOfOrder">
                            <div class="col-9">
                                <h6>Sprzedany</h6>
                            </div>
                            <div class="col-3">
                                <img src="/images/outOfOrder.png" style="max-width: 40px">
                            </div>
                        </div>
                    }
                    else if (product?.AmountAvailable > 0 & product?.AmountAvailable < 10)
                    {
                        <div class="row smallAmount">
                            <div class="col-9">
                                <h6>Ograniczona ilość</h6>
                            </div>
                            <div class="col-3">
                                <img src="/images/smallAmount.png" style="max-width: 40px">
                            </div>
                        </div>
                    }
                    else if (product?.AmountAvailable >= 10)
                    {
                        <div class="row available">
                            <div class="col-9">
                                <h6>Dostępny</h6>
                            </div>
                            <div class="col-3">
                                <img src="/images/available.png" style="max-width: 40px">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div>
                <form method="post" asp-controller="Cart" asp-action="AddItemToCart">
                    <input type="hidden" name="cartId" value="@ViewData["CartId"]" />
                    <input type="hidden" name="productId" value="@product?.ProductId" class="product-id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-dark m-2 addToCartButton w-75">
                        <i class="bi bi-cart-plus"></i> Dodaj do koszyka
                    </button>
                </form>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_CartModal")
}
