@model MiodOdStaniula.Models.Product

@{
    ViewData["Title"] = "Usuń produkt";
}

<div class="container">
    <div class="border text-center shadow p-3 mb-5 bg-white rounded">
        <h3>Jesteś pewien, że chcesz usunąć ten produkt?</h3>
        <br />
        <div class="row">
            <div class="col-5">
                <h4>@Model.Name</h4>
                <h5>cena: @Model.Price,00 zł</h5>
                <h5>waga @Model.Weight g</h5>
                <h5>dostępna ilość @Model.AmountAvailable</h5>
                <div class="border" style="padding: 10px">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="col-4">
                <img src="~/img/@Model.Photo" class="w-100" />
                <div class="row">
                    <div class="col-6">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="ProductId" />
                            <input type="submit" value="TAK, usuń produkt" class="btn btn-danger mt-3" />
                        </form>
                    </div>
                    <div class="col-6">
                        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary mt-3">NIE, powrót do edycji</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
