@model MiodOdStaniula.Models.Product
<link rel="stylesheet" href="~/css/store.css" asp-append-version="true" />

@{
    ViewData["Title"] = "-" + @Model.Name;
}

<div class="container">
    <div class="border text-center shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-sm-4 my-3">
                <img src="~/img/@Model.PhotoUrlAddress" class="w-100" />
            </div>
            <div class="col-sm-3 border my-3 p-4">
                <h3>@Model.Name</h3>
                <div>
                    <p>Waga: <b>@Model.Weight g</b></p>
                </div>
                <div>
                    <p>Cena: <b>@Model.Price zł</b></p>
                </div>
                <div class="row
                    @(Model.AmountAvailable <= 0 ? "outOfOrder" :
                      Model.AmountAvailable < 10 ? "smallAmount" : "available")">
                    <div class="col-9">
                        <h6>
                            @(Model.AmountAvailable <= 0 ? "Produkt sprzedany" :
                                Model.AmountAvailable < 10 ? "Na wyczerpaniu" : "Produkt dostępny")
                        </h6>
                    </div>
                    <div class="col-3">
                        <img src="/img/@(Model.AmountAvailable <= 0 ? "outOfOrder" :
                            Model.AmountAvailable < 10 ? "smallAmount" : "available").png" style="max-width: 40px">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 border my-3 p-4">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>
