@model MiodOdStaniula.Models.ProductViewModel
<link rel="stylesheet" href="~/css/ProductDetails.css" asp-append-version="true" />

<div class="container product-details p-2">
    <div class="row my-5">
        <div class="col-sm-7">
            <div id="exampleCarousel" class="carousel carousel-details slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model?.ProductImageInfos?.Count; i++)
                    {
                        <button type="button" data-bs-target="#exampleCarousel" data-bs-slide-to="@i" @(i == 0 ?
                        "class=active aria-current=true" : "") aria-label="Slide @(i + 1)"></button>
                    }
                </div>
                <div class="carousel-inner rounded-3 shadow">
                    @for (int i = 0; i < Model?.ProductImageInfos?.Count; i++)
                    {
                        var image = Model.ProductImageInfos[i];
                        <div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="4000">
                            <img src="@image.ImagePath" class="d-block w-100" alt="Produkt - zdjęcie @(i+1)" />
                        </div>
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#exampleCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#exampleCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-5 p-4 text-center">
            <div>
                <h3>@Model?.Name</h3>
                <strong>@Model?.Category?.Name</strong>
            </div>
            <br />

            <div class="text-center">
                <h3 class="border shadow p-2 mb-3 rounded-3 w-50 mx-auto">@Model?.Price zł</h3>
                <h3 class="border shadow p-2 mb-3 rounded-3 w-50 mx-auto">@Model?.Weight g</h3>
            </div>
            <br />

            <div class="availability">
                @if (Model?.AmountAvailable == 0)
                {
                    <div class="row outOfOrder">
                        <div class="col-9">
                            <h5>Sprzedany</h5>
                        </div>
                        <div class="col-3">
                            <img src="/images/outOfOrder.png" style="max-width: 40px">
                        </div>
                    </div>
                }
                else if (Model?.AmountAvailable > 0 & Model?.AmountAvailable < 10)
                {
                    <div class="row smallAmount">
                        <div class="col-9">
                            <h5>Ograniczona ilość!</h5>
                        </div>
                        <div class="col-3">
                            <img src="/images/smallAmount.png" style="max-width: 40px">
                        </div>
                    </div>
                }
                else if (Model?.AmountAvailable >= 10)
                {
                    <div class="row available">
                        <div class="col-9">
                            <h5>Produkt dostępny!</h5>
                        </div>
                        <div class="col-3">
                            <img src="/images/available.png" style="max-width: 40px">
                        </div>
                    </div>
                }
            </div>
            <br />
            <hr />
            <div>
                <form method="post" asp-controller="Cart" asp-action="AddItemToCart">
                    <input type="hidden" name="cartId" value="@ViewData["CartId"]" />
                    <input type="hidden" name="productId" value="@Model?.ProductId" class="product-id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-dark btn-lg mb-3 addToCartButton w-100">
                        <i class="bi bi-cart-plus"></i> Dodaj do koszyka
                    </button>
                </form>
                <div>
                    <p>Lub zadzwoń i zamów pod nr tel:</p>
                    <h3>+48 570 436 579</h3>
                </div>

                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a href="@Url.Action("Edit","EditProduct", new { id = Model?.ProductId })"
                        class="btn btn-lg btn-danger mt-4 w-100"><i class="bi bi-pen"></i> EDYTUJ</a>
                }
            </div>
        </div>
    </div>
    <div class="my-4 p-5 text-start">
        @Html.Raw(Model?.Description)
    </div>
</div>

@await Html.PartialAsync("_CartModal")