@model IEnumerable<MiodOdStaniula.Models.Product>
<link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Magazyn";
}


<div class="container border text-center shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-9">
            <h3>Mój magazyn</h3>
        </div>
        <div class="col-3">
            <a asp-action="Create" class="text-center" style="text-decoration:none">
                <div class="btn-primary" style="border-radius: 3px; padding: 3px">
                    <i class="bi bi-plus-circle"></i> Dodaj nowy produkt
                </div>
            </a>
        </div>
    </div>
    <br />

    <div class="MyStore">
        <div class="row" style="border-bottom:solid">
            <div class="col-2">
                <h5>Kategoria</h5>
            </div>
            <div class="col-2">
                <h5>Nazwa produktu</h5>
            </div>
            <div class="col-1">
                <h5>Cena</h5>
            </div>
            <div class="col-2">
                <h5>Waga</h5>
            </div>
            <div class="col-2">
                <h5>Dostępna ilość</h5>
            </div>
            <div class="col-3">
                <h5>Priorytet wyświetlania</h5>
            </div>
        </div>

        <div class="row">

            @foreach (var product in Model.OrderBy(x => x.Category).OrderBy(x => x.Name))
            {
                <div class="product">
                    <a href="@Url.Action("Edit","Products", new { Id = product.ProductId })"
                       style="text-decoration:none; color:black">
                        <div class="row">
                            <div class="col-2">
                                <p>@product.Category</p>
                            </div>
                            <div class="col-2">
                                <p>@product.Name</p>
                            </div>
                            <div class="col-1">
                                <p><b>@product.Price</b> zł</p>
                            </div>
                            <div class="col-2">
                                <p><b>@product.Weight</b> gram</p>
                            </div>
                            <div class="col-2">
                                @if (product.AmountAvailable == 0)
                                {
                                    <strong>brak w magazynie</strong>
                                }
                                else
                                {
                                    <p><b>@product.AmountAvailable</b> sztuk</p>
                                }
                            </div>
                            <div class="col-3">
                                <p>nr <b>@product.Priority</b> na stronie</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>


</div>


